<% layout("/layouts/bolierplate")  %>

<body>
    <h4 class="offset-2 mt-2">Edit Your list</h4>
    <form method="post" action="/listings/<%= E_listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data" >
        <div class="row">
            <div class="col-8 offset-2">
                <div class="mb-3">
                    <label for="title" class="form-label">title</label>
                    <input 
                    name ="listing[title]" 
                    value="<%= E_listing.title %>" 
                    type="text" 
                    class="form-control"
                    required
                    >
                    <div class="invalid-feedback"> title required!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea
                     name ="listing[description]" 
                     type="text" 
                     class="form-control"
                     required
                    > <%= E_listing.description %>
                    </textarea>
                    <div class="invalid-feedback"> pls! Enter short description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">old image</label> <br>
                    <img style="height: 150px; width: 250px;" src="<%=originalUrl %>">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload new image URL</label>
                    <input 
                    name ="listing[image]" 
                    type="file" 
                    class="form-control"
                  >
                    <div class="invalid-feedback">pls! Add valid img URL</div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">price</label>
                    <input 
                    name ="listing[price]" 
                    value="<%= E_listing.price %>" 
                    type="text" 
                    class="form-control"
                    required
                    >
                    <div class="invalid-feedback">Price is valid</div>
                   
                </div>
                <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="location" class="form-label">Location</label>
                    <input 
                    name ="listing[location]" 
                    value="<%= E_listing.location %>" 
                    type="text" 
                    class="form-control"
                    required
                    >
                    <div class="invalid-feedback">pls! Enter valid location</div>
                    
                </div>
                <div class="mb-3  col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input 
                    name ="listing[country]" 
                    value="<%= E_listing.country %>" 
                    type="text" 
                    class="form-control"
                    required
                    >
                    <div class="invalid-feedback"> pls! Enter valid country name</div>
                </div>
            </div>
                <button class="btn btn-dark add_btn">Add</button><br>
        </div>
        </div>
        </form>
</body>
